<!DOCTYPE html>
<html lang="en" fff>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <script src="/js/underscore.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/outer.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/jquery.timeline.js"></script>
    <script src="/js/jquery.fullPage.js"></script>
    <script src="/js/app.js"></script>
    <!--[if lt IE 9]><script src="/js/html5shiv.js?_v=1.5.11"></script><![endif]-->
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>